<% if(project.tags.firstProject === 1) { %>
<div class="banner first-project">
    <p><small>First Project</small></p>
</div> <% } %>
<% if(project.tags.secondProject === 1) { %>
<div class="banner second-project">
    <p><small>Second Project</small></p>
</div> <% } %>
<% if(project.tags.latestWork === 1) { %>
<div class="banner latest-work">
    <p><small>Latest Work</small></p>
</div> <% } %>