<% if(success && success.length) {%>
<section class="flash-message">
    <p><%= success %></p>

    <p class="close-flash">&#10005;</p>
</section>
<% } %>

<% if(error && error.length) {%>
<section class="flash-message error">
    <p><%= error %></p>

    <p class="close-flash">&#10005;</p>
</section>
<% } %>

<% if(welcome && welcome.length) {%>
<section class="flash-message welcome">
    <p><%= welcome %> <%= currentUser.username %>!</p>

    <p class="close-flash">&#10005;</p>
</section>
<% } %>