<footer id="contact" class="split bg-accent">
    <div class="flex-between--column">

        <h2>Want to <span class="highlight">work?</span></h2>

        <div class="contact-column display-none">
            <p>If you need a modern and powerful website for your business, startup or personally, I am available for
                work.
                You can email me directly at <a class="bold highlight" href="mailto:hello@goksenia.com"
                    target="_top">hello@goksenia.com</a>.</p>
        </div>

        <section class="link-wrap">
            <div class="icons-wrap">
                <a href="https://www.linkedin.com/in/xeniap/" target="_blank"><img class="icon"
                        src="/icons/LinkedIn.svg" alt="LinkedIn Icon"></a>
                <a href="https://www.facebook.com/ksenia.pavlyuchik" target="_blank"><img class="icon"
                        src="/icons/facebook1.svg" alt="Facebook Icon"></a>
                <a href="https://www.behance.net/kseniapavlyuchik" target="_blank"><img class="icon"
                        src="/icons/Behance.svg" alt="Behance Icon"></a> </div>
            <div class="data-infos data-column">
                <a class="small-grey underline about-this-website">About this website</a> <a
                    class="small-grey underline privacy-policy">Privacy Policy</a>
            </div>
            <p class="small-grey disclamer">© All rights reserved – Kseniia Pavliuchik</p>
        </section>
    </div>

    <div class="contact-row">

        <p>If you need a modern and powerful website for your business, startup or personally, I am available for work.
            You can email me directly at <a class="highlight bold" href="mailto:hello@goksenia.com"
                target="_top">hello@goksenia.com</a>.</p>
    </div>

    <section class="data-infos data-row">
        <a class="small-grey underline about-this-website">About this website</a> <a
            class="small-grey underline privacy-policy">Privacy Policy</a>
    </section>
</footer>

<div class="shadow-bg-box" id="shadow-bg-box"></div>
<%- include('../partials/aboutWebsite') %>
<%- include('../partials/privacyPolicy') %>

</div>

<script src="/js/app.js"></script>
<%- include('./cookie.ejs') %>
</body>

</html>