<footer id="footer" class="split bg-accent">
    <div class="flex-between">
        <h2>Want to work?</h2>
        <div class="icons">
            <a href="https://www.linkedin.com/in/xeniap/" target="_blank"><img class="icon" src="./icons/LinkedIn.svg"
                    alt="LinkedIn Icon"></a>
            <a href="https://www.facebook.com/ksenia.pavlyuchik" target="_blank"><img class="icon" src="./icons/facebook1.svg"
                    alt="Facebook Icon"></a>
            <a href="https://www.behance.net/kseniapavlyuchik" target="_blank"><img class="icon" src="./icons/Behance.svg"
                    alt="Behance Icon"></a>
            <p class="small-grey disclamer">© All rights reserved – Kseniia Pavliuchik</p>
        </div>
    </div>
    <div>
        <p>If you need a modern and powerful website for your business, startup or personally, I am available for work.
            You can email me directly at <span class="bold">hello@goksenia.com</span>.</p>
    </div>
</footer>

<script src="./js/app.js"></script>
</body>

</html>