<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goksenia.com</title>
    <link rel="stylesheet" href="./css/style.css">
    <link rel="stylesheet" href="./css/navbar.css">
</head>

<body>
    <header>
        <nav class="navbar">
            <p>Kseniia Pavliuchik<span class="highlight--dot">.</span></p>
            <ul>
                <li><a href="#portfolio"><span class="highlight">my work</span></a></li>
                <li><a href=""><span class="highlight">get in touch</span></a></li>
                <li><span class="highlight"><button class="navBtn" id="btnEn">en</button>/<button class="navBtn" id="btnDe">de</button>/<button class="navBtn"
                            id="btnRu">ru</button></span></li>
            </ul>
        </nav>
    </header>