<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Kseniia Pavliuchik | Web Designer & Content Creator</title>
    <meta name="description"
        content="Innovative, powerful and problem-solving websites, blogs, online-shops and landing pages that earn clients’ trust and help to grow your business">
    <link rel='shortcut icon' type='image/x-icon' href='/icons/favicon.svg' />
    <link rel="mask-icon" href="/icons/tabPinIcon.png" color="#000">
    <link rel="apple-touch-icon image_src" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="57x57" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="114x114" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="72x72" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="144x144" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="60x60" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="120x120" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="76x76" href="/icons/favicon.svg">
    <link rel="apple-touch-icon" sizes="152x152" href="/icons/favicon.svg">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="overflow-hidden">
        <header>
            <nav class="navbar">
                <p class="logo" id="logo">Kseniia Pavliuchik<span class="highlight--dot">.</span></p>

                <ul class="menu-big">
                    <li><a href="/#portfolio"><span class="highlight">my work</span></a></li>
                    <li class="contact-btn"><a href="#contact"><span class="highlight">get in touch</span></a></li>
                </ul>

                <div class="burger-menu">
                    <button class="menu-btn" id="menu-btn"><img src="/icons/menu.svg" alt="menu button"></button>

                    <ul class="menu-small" id="menu-small">
                        <li class="contact-btn"><a href=""></a>Contact</li>
                        <li><a href="/#portfolio">My Portfolio</a></li>
                    </ul>
                </div>
            </nav>
        </header>