<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>goksenia.com</title>
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="overflow-hidden">
        <header>
            <nav class="navbar">
                <p>Kseniia Pavliuchik<span class="highlight--dot">.</span></p>
                <ul>
                    <li><a href="/#portfolio"><span class="highlight">my work</span></a></li>
                    <li><a href="#contact"><span class="highlight">get in touch</span></a></li>
                </ul>
                <button class="menuBtn" id="menuBtn"><img src="/icons/menu.svg" alt="menu button"></button>
            </nav>
        </header>