<%- include('./partials/header.ejs') %>
<main class="content-wrap">

    <!-- hero/landing section -->
    <section class="hero">
        <header>
            <h1>Hi, I’m Ksenia, Web Designer and Webflow Developer</h1>
        </header>

        <p>I design and build beautiful websites for businesses around the globe. If you need a modern and powerful
            website, send me an email. If we are a good fit, I will give you a time and cost estimate.</p>

        <div class="btn-wrap">
            <a href="">see my work</a>
            <div class="btn-shift"></div>
        </div>

        <div class="rotate">
            <p>scroll</p>
        </div>
    </section>

    <!-- portfolio section -->
    <section class="portolfio">
        <article class="split">

            <section>
                <h3>latest work</h3>

                <h1>Chat App website</h1>

                <div class="tags">
                    <p>Website Design</p>
                    <p>Webflow Development</p>
                    <p>Concept</p>
                </div>

                <p>This is a homepage design and build for a concept project – a chat application. I have designed the
                    page first then later built a responsive page in Webflow.</p>

                <div class="btn-wrap">
                    <a href="">see this project</a>
                    <div class="btn-shift"></div>
                </div>
            </section>

            <figure></figure>
        </article>

        <article class="split">

            <section>
                <h3>latest work</h3>

                <h1>Team website</h1>

                <div class="tags">
                    <p>Website Design</p>
                    <p>Webflow Development</p>
                    <p>Concept</p>
                </div>

                <p>A full website design and build for a concept team collaboration platform. This website also includes
                    a beautiful blog. I have built the website and the blog in Webflow which has one of the best CMS for
                    blog hosting.</p>

                <div class="btn-wrap">
                    <a href="">see this project</a>
                    <div class="btn-shift"></div>
                </div>
            </section>

            <figure></figure>
        </article>

        <article class="split">
            <section>
                <h3>latest work</h3>

                <h1>Winery website</h1>

                <div class="tags">
                    <p>Concept</p>
                    <p>Website Design</p>
                </div>

                <p>Dark premium homepage design for a concept project – Louis Eschenauer Winery. This is how
                    a gastronomy brand homepage could look like.</p>

                <div class="btn-wrap">
                    <a href="">see this project</a>
                    <div class="btn-shift"></div>
                </div>
            </section>

            <figure></figure>
        </article>

        <article class="split">
            <section>
                <h3>latest work</h3>

                <h1>Mood Boster App</h1>

                <div class="tags">
                    <p>App Design</p>
                    <p>Hackathon Project</p>
                    <p>Concept</p>
                </div>

                <p>Mental helth caring application which includes journaling, different kinds of mood boosters and
                    the emergency help center. </p>

                <div class="btn-wrap">
                    <a href="">see this project</a>
                    <div class="btn-shift"></div>
                </div>
            </section>

            <figure></figure>
        </article>

    </section>


    <!-- about section -->
    <section class="about split">
        <div>
            <h3>What I do</h3>
        </div>
        <div>
            <section>
                <h3>Design</h3>
                <p>I design beautiful and powerful websites for modern businesses. Any business today needs a website
                    that wins customers’ trust and helps you do your business well. I make sure your website is up to
                    that standard.</p>
            </section>
            <section>
                <h3>Development</h3>
                <p>I build websites in Webflow where I can create responsive, powerful and fully custom websites. They
                    look good at any screen size. Plus, Webflow has an incredibly simple Content Editor for you and your
                    team to edit website content quickly and easily.</p>
            </section>
        </div>
    </section>

</main>

<%- include('./partials/footer.ejs') %>