<%- include ('./partials/header.ejs') %>
<link rel="stylesheet" href="/css/projects.css">

<div class="bg-accent"></div>

<main class="content-wrap">
    <section class="project-wrap">

        <article>
            <h3>Content Management</h3>
            <h1>Mood Booster App</h1>
            <div><button>Edit</button><button>Delete</button></div>
        </article>

        <figure>
            <img src="./img/moodShifted.png" alt="Example Picture">
        </figure>

    </section>
</main>

<%- include ('./partials/footer.ejs') %>