footer#contact {
    display: none;
}

div.bg-accent {
    width: 96.5vw;
    height: 95vh;
    position: absolute;
    z-index: -1;
}

section.projects-wrap {
    min-width: 100vw;
    min-height: 100vh;
    margin: 0 auto;
    text-align: center;
    padding-left: 0;
}

div.bg-accent {
    width: 96.5vw;
    height: 95vh;
    position: absolute;
    z-index: -1;
    left: 50%;
    transform: translateX(-50%);
}

h1 {
    font-size: 3rem;
    text-align: center;
    margin-top: 3.5rem;
    margin-bottom: 2rem;
}

h2 {
    font-size: 2.5rem;
}

.flash-message {
    max-width: 30rem;
    margin: 0 auto 2rem auto;
    position: relative;
    border: 1px solid black;
    background-color: rgba(110, 255, 110, 0.76);
    border-radius: 3px;
    padding: 0.5rem;
    font-size: 1.25rem;
}

.close-flash {
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.existing-project .banner {
    font-size: 1.2rem;
    font-weight: 500;
    text-align: center;
    position: absolute;
    top: 4.8rem;
    clip-path: polygon(0% 0%, 75% 0%, 54% 50%, 75% 100%, 0 100%);
    width: 14.4rem;
    padding-left: 1.7rem;
    transform: rotate(90deg);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.existing-project .banner.first-project {
    background-color: red;
    left: -4rem;
    color: #fff;
}

.existing-project .banner.second-project {
    background-color: rgb(255, 153, 0);
    left: -4rem;
    color: #fff;
    width: 17rem;
    top: 6.2rem;

}

.existing-project .banner.latest-work {
    right: -4rem;
    left: auto;
    background-color: var(--color-highlight);
    color: rgb(70, 70, 70);
}

section.project.active {
    transform: translateX(400%);
}

section.project {
    display: inline-block;
    padding: 1rem;
    margin: 2rem;
    border-radius: 3px;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow: -20px -20px 60px #bebebe,
        20px 20px 60px #ffffff;
    transition: transform 600ms ease;
    overflow: hidden;
    opacity: 0;
}

section.project figure img {
    max-height: 20rem;
}

.existing-project.hide {
    transform: translateX(400%);
}

.existing-project.hidden-project {
    opacity: 0.4;
}

.existing-project.hidden-project:before {
    content: 'Hidden Project';
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    font-size: 1.6rem;
    opacity: 1;
    z-index: 3;
}

.new.project.create {
    transform: scale(0.5);
}

/*------------- Button Styling -------------*/
.btn-wrap--cms {
    width: 60%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 1rem auto 1rem auto;
}


.btn-wrap--cms button {
    width: 4rem;
    height: 4rem;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    border-radius: 100px;
    border: 2px solid black;
    transition: border-color 300ms ease;
    cursor: pointer;
}

.btn-wrap--cms button img {
    max-height: 3rem;
    width: 100%;
    transition: transform 300ms ease;
}

button:active {
    transform: scale(0.98);
}

button.mouseIn img {
    transform: translateY(-10%);
}

button.mouseIn {
    border-color: var(--color-highlight);
}

/*------------- Add/Edit Project Styling -------------*/
.project-form {
    transform: translateX(-400%);
    transition: transform 600ms ease;
}

.project-form.active {
    transform: translateX(0);
}

.project-add {
    width: 70%;
    background: linear-gradient(315deg, #cacaca, #f0f0f0);
    box-shadow: -20px -20px 60px #bebebe,
        20px 20px 60px #ffffff;
    margin: 3rem auto 0 auto;
    padding: 1rem;
    font-size: 0.9rem;
}

.project-add form {
    width: 100%;
}

.project-add form h1 {
    margin-top: 2.5rem;
}

.project-add form input.input-txt {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    font-size: 0.9rem;
}

.project-add form input.input-txt:focus {
    outline: none;
}

.title,
.url-name div,
.previewLink {
    max-width: 30rem;
    margin: 0.5rem auto;
}

.section-wrap {
    max-width: 40rem;
    border: 3px solid black;
    border-left: none;
    border-right: none;
    padding: 3rem 2rem;
    margin: 0 auto;
}

.section-wrap:nth-of-type(1),
.section-wrap:nth-of-type(2),
.section-wrap:nth-of-type(3),
.section-wrap:nth-of-type(4) {
    border-bottom: none;
}

.section-wrap h3 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.section-wrap h3 span {
    color: #fff;
    background-color: #000;
    border-radius: 50%;
    width: 2.5rem;
    height: 2.5rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
}

#urlPreview {
    margin-top: 1.8rem;
}

.section-wrap .url-name p span {
    line-height: 1.125rem;
}

.description {
    margin: 1rem auto;
}

.description textarea {
    width: 95%;
    height: 10rem;
    padding: 1.2rem;
}

.description textarea:focus {
    outline: none;
}

.description div:nth-of-type(1) {
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.tag-latest-work,
.tags-specify div {
    display: flex;
    align-items: center;
}

.tags-specify div {
    justify-content: flex-end;
}

.tags h4 {
    font-size: 1rem;
}

.tags input {
    -webkit-appearance: none;
    position: relative;
    padding: 0.5rem;
    border: 2px solid black;
    border-radius: 2px;
    background: #ffffff;
    box-shadow: -10px -10px 23px #d1d1d1,
        10px 10px 23px #ffffff;
    margin-left: 0.5rem;
    transition: background-color 400ms ease;
}

.tags input:focus {
    outline: none;
}

.tags input:checked {
    background-color: var(--color-highlight);
}

.tags input:checked::after {
    content: '✓';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    font-size: 1.5rem;
}

.tags label {
    font-size: 0.9rem;
}

.tags .arrow-right,
.tags .arrow-left {
    font-size: 1.25rem;
    position: absolute;
    bottom: 0.6rem;
}

.tags .arrow-left {
    left: -0.9rem;
}

.tag-latest-work {
    width: 13.8rem;
}



.tags-specify {
    width: 16.8rem;
}

.tags div p.small-grey {
    background-color: transparent;
    font-size: 0.8rem;
    margin: 0;
    padding: 0;
    margin-right: 4px;
}

.file-upload div:nth-of-type(2),
.file-upload div:nth-of-type(3) {
    margin-top: 2rem;
}

.project-add form button.create-btn,
button.delete-btn {
    margin: 3rem auto 2rem auto;
    padding: 1rem 1.5rem;
    font-size: 1.6rem;
    border-radius: 2px;
    cursor: pointer;
}

button.delete-btn {
    margin: 0 0 1rem 0;
    transition: background-color 300ms ease;
}

button.delete-btn:hover {
    background-color: red;
}

@media screen and (max-width: 430px) {
    section.projects-wrap h1 {
        margin-top: 6rem;
    }
}