:root {
    --color-highlight: #03FFC5;
}

.navbar {
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
    padding: 3.11rem 7.61em 0 5.5em;
}

.navbar .logo {
    cursor: pointer;
}

.navbar a.logo {
    font-weight: 900;
    font-size: 1.25rem;
}

.highlight--dot {
    color: var(--color-highlight);
}

.navbar ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 24px;
}

.navbar .menu-big li:nth-of-type(1) {
    margin-right: 2rem;
}

.navbar .menu-big li:nth-of-type(2) {
    margin: 0 2rem;
}

.navbar .menu-big li a {
    color: #000;
}

#acc-settings-btn {
    width: 2rem;
    position: absolute;
    right: 2.5rem;
    top: 1rem;
    border-radius: 50%;
    transform: background-color 600ms ease;
    background-color: transparent;
}

.acc-settings-menu {
    background-color: #fff;
    padding: 0.5rem 1rem;
    position: absolute;
    right: 1rem;
    top: 7rem;
    border-radius: 3px;
    font-size: 1.125rem;
    transform: translateX(400%);
    transition: transform 300ms ease;
}

.acc-settings-menu a {
    padding: 0.2rem 0.5rem;
}

.acc-settings-menu.active {
    transform: translateX(0);
}

#acc-settings-btn.active {
    background-color: var(--color-highlight);
}

.navbar ul li button {
    border: none;
    background: transparent;
    font-size: inherit;
    padding: 0;
    font-weight: inherit;
    cursor: pointer;
    color: inherit;
}

.navbar ul li button:focus {
    color: inherit;
}

.burger-menu {
    position: relative;
    display: none;
}

.menu-btn {
    width: 4.5rem;
    height: auto;
    border: none;
    background-color: transparent;
    margin-right: 2rem;
    transition: background-color 800ms ease;
    border-radius: 3px;
}

.menu-small {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 6rem;
    right: -6rem;
    width: 155px;
    height: 80px;
    background-color: #fff;
    color: #000000c7;
    transform: translateX(400%);
    transition: transform 300ms ease;
    z-index: 99999;
}

.menu-small li {
    padding-left: 1rem;
    padding-top: 0.8rem;
}

.menu-small.cms-burger {
    right: -3rem;
    height: 140px;
}

.menu-small.active {
    transform: translateX(0);
}

.menu-btn.active {
    background-color: var(--color-highlight);
}