<header>
    <nav class="navbar">
        <a class="logo" href="/cms/index">CMS-Area for <span class="highlight">goksenia</span></a>

        <ul class="menu-big">
            <li><a href="/#portfolio"><span class="highlight">Back to Portfolio</span></a></li>
            <li class="contact-btn"><a href="/cms/index"><span class="highlight">CMS Dashboard</span></a></li>
            <li><a class="highlight" href="/logout">Logout</a></li>
        </ul>

        <div class="burger-menu">
            <button class="menu-btn" id="menu-btn"><img src="/icons/menu.svg" alt="menu button"></button>

            <ul class="menu-small" id="menu-small">
                <li class="contact-btn"><a href="/cms/index"></a>CMS Dashboard</li>
                <li><a href="/#portfolio">Back to Portfolio</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>