<header>
    <nav class="navbar">
        <a class="logo" href="/cms/index">CMS-Area for <span class="highlight">goksenia</span></a>

        <ul class="menu-big">
            <li><a href="/#portfolio"><span class="highlight">Back to Portfolio</span></a></li>
            <li class="contact-btn"><a href="/cms/index"><span class="highlight">CMS Dashboard</span></a></li>
            <li><button class="acc-settings-btn flex-center" id="acc-settings-btn"><img src="/icons/management.svg"
                        alt="setup icon"></button></li>
        </ul>

        <div class="acc-settings-menu flex-col">
            <a href="/logout">Logout</a>
            <a href="/changePassword/">Change Password</a>
        </div>

        <div class="burger-menu">
            <button class="menu-btn" id="menu-btn"><img src="/icons/menu.svg" alt="menu button"></button>

            <ul class="menu-small cms-burger" id="menu-small">
                <li><a href="/cms/index">CMS Dashboard</a></li>
                <li><a href="/#portfolio">Back to Portfolio</a></li>
                <li><a href="/changePassword/">Change Password</a></li>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>