<%- include ('../partials/header.ejs') %>
<%- include('../partials/navbar/defaultNavbar.ejs') %>
<link rel="stylesheet" href="/css/authenticate.css">

<main class="content-wrap">
    <div class="bg-accent"></div>

    <section class="authenticate-wrap project-form">

        <section class="authenticate">
            <form action="/" method="POST">

                <h1>Change Password</h1>

                <%- include('../partials/flash.ejs') %>

                <div class="section-wrap">
                    <section class="password flex-around">
                        <label for="password">password</label>
                        <input type="text" id="password" name="password" class="input-txt" required>
                    </section>

                    <section class="password flex-around">
                        <label for="validatePw">Password</label>
                        <input type="password" id="validatePw" name="validatePw" class="input-txt" required>
                    </section>
                </div>

                <button class="submit-btn">Submit</button>
            </form>
        </section>
    </section>
</main>


<%- include ('../partials/footer.ejs') %>